In [1]:
import requests
import pandas as pd
from tqdm import tqdm

In [2]:
url = "https://api.jobxprss.com/api/job/search/v6/?page=1&q=&job_city=&category=&top-skill=&industry=&skill=&salaryMin=0&salaryMax=1000000&experienceMin=0&experienceMax=50&datePosted=&qualification=&job_type=&unspecified_salary=1&sort=descending&page_size=50"

urls = []
for i in range(1,153):
    urls.append("https://api.jobxprss.com/api/job/search/v6/?page={}&q=&job_city=&category=&top-skill=&industry=&skill=&salaryMin=0&salaryMax=1000000&experienceMin=0&experienceMax=50&datePosted=&qualification=&job_type=&unspecified_salary=1&sort=descending&page_size=50".format(i))

In [4]:
result = []

for i in tqdm(range(len(urls))):
    response = requests.get(urls[i])
    data = response.json()
    for j in range(len(data['results'])):
        result.append({
            'title': data["results"][j]['title'],
            'company': data["results"][j]['company']['name'],
            'job_category': data["results"][j]['job_category'],
            'job_category': data["results"][j]['job_category'],
            'job_area': data["results"][j]['job_area'],
            'salary_min': data["results"][j]['salary_min']
            'salary_max': data["results"][j]['salary_max']
        })

100%|████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:09<00:00,  3.30s/it]

In [5]:
df = pd.DataFrame(result)

In [6]:
df

,title,company,job_category,job_area,salary_max
0,Officer (Quality Control),Nabil Feed Mills Ltd.,Compliance,Anywhere in Bangladesh,None
1,Pharmacist/ Pharmacy Salesman,Exim Bank Hospital,Marketing/Sales,Dhaka,None
2,Ward Boy,Exim Bank Hospital,Medical/Healthcare Professional,Dhaka,None
3,OT Boy,Exim Bank Hospital,Medical/Healthcare Professional,Dhaka,None
4,"Principal (Electrical, Civil)",Islami Bank Institutes of Technology (Savar),Top Management,"Savar, Dhaka",None
...,...,...,...,...,...
145,MLSS,Bangladesh Supreme Court Bar Association,Others,None,20010.00
146,Stenographer,Bangladesh Supreme Court Bar Association,IT/Software,Dhaka,26590.00
147,Steno Typist cum Computer Operator,Bangladesh Supreme Court Bar Association,Data Entry/Operator/BPO,None,24680.00
148,"Deputy Manager / Manager, Customer Lifecycle M...",Sheba.xyz,Admin/General Management,None,None
149,Communication and Advocacy Manager,CARE Bangladesh,Media/Advertisement/Event Management,None,None

In [11]:
df["company"][6]

{'name': 'Base IT',
 'profile_picture': 'https://jobxprss-media-sg.s3.amazonaws.com/images/company_logo_DE9AF9.png',
 'is_active': True}

In [6]:
response = requests.get(urls[i])
data = response.json()

In [13]:
data['results'][0]

{'job_id': '05eea814-681c-4364-9cb3-a5e25f074c7b',
 'title': 'Sales Specialist (Corporate/Retail)',
 'status': 'PUBLISHED',
 'company': {'name': 'DNS Group',
  'profile_picture': 'https://jobxprss-media-sg.s3.amazonaws.com/images/company_logo_94B7A4.png',
  'is_active': False},
 'job_category': 'Marketing/Sales',
 'application_deadline': '2022-04-20',
 'job_area': 'Anywhere in Bangladesh',
 'job_city': None,
 'job_country': None,
 'job_site': 'ONSITE',
 'job_nature': 'PARTTIME',
 'job_type': 'CONTRACTUAL',
 'address': 'Bangladesh',
 'vacancy': 1,
 'created_at': '2022-03-21T12:13:45.671236+06:00',
 'post_date': None,
 'publish_date': '2022-03-21T12:12:54+06:00',
 'slug': 'sales-specialist-corporateretail-5f074c7b',
 'applied_count': 0,
 'favorite_count': 0,
 'view_count': 0,
 'salary': None,
 'salary_min': None,
 'salary_max': None,
 'do_not_allow_apply_or_interested': False,
 'do_not_allow_apply_or_interested_link': None}